{% extends "base.html" %}
{% load static wagtailcore_tags crispy_forms_tags wagtailimages_tags wagtailembeds_tags %} 

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<!-- ======= Contact Section ======= -->
  <main id="main">
  <section id="contact" class="contact">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Plot 700 Akright <br/>
                  Kabulengwa, Hill <br>P.O.Box 5895 Kampala (U)</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@smilecharityuganda.org<br>director@smilecharityuganda.org</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+256 752 101 007<br>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form action="{% pageurl page %}" method="POST" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                  {{ form.your_name|as_crispy_field }}
          
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                {{ form.email|as_crispy_field }}
              </div>
            </div>
            <div class="form-group mt-3">
             {{ form.subject|as_crispy_field }}
            </div>
            <div class="form-group mt-3">
              {{ form.message|as_crispy_field }}
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </div>
  </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% block extra_js %}
    
  {% endblock extra_js %}

{% endblock content %}