{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/flexi.css' %}">
{% endblock extra_css %}

{% block content %}

{% image self.featured_image original as img %}
{% image self.bg_design_image original as bg %}
<section style="background: url('{{ bg.url }}'); top center no-repeat;"id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 style="font-size: 32px;" data-aos="fade-up">Pastors&apos; Discipleship Fellowship(PDF) & Pastors&apos; Wive&apos;s Discipleship Fellowship(PWDF)</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">{{ self.intro }}</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
 
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ img.url}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h4>{{ self.Body|richtext }}</h4>
        </div>
      </div>

    </div>
  </div>
</section><!-- End About Section -->


{% endblock content%}
  
{% block extra_js %}
{% endblock extra_js %}