 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SCU</h3>
            <p>
              Smile Charity Uganda <br>
              P.O.Box 5895 Kampala<br>
              Uganda <br><br>
              <strong>Phone:</strong> +256 752 101007<br>
              <strong>Email:</strong> info@smilecharityuganda.org<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-house-fill"></i> <a href="/"> Home</a></li>
              <li><i class="bi bi-emoji-smile"></i> <a href="/about-us"> About us</a></li>
              <li><i class="bi bi-bookmark-star-fill"></i> <a href="/terms-of-service"> Terms of service</a></li>
              <li><i class="bi bi-eye-slash-fill"></i> <a href="/privacy-policy"> Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-people-fill"></i> <a href="/discipleship">Discipleship</a></li>
              <li><i class="bi bi-mortarboard-fill"></i> <a href="/education">Education Support</a></li>
              <li><i class="bi bi-sliders"></i> <a href="/skilling">Skilling</a></li>
              <li><i class="bi bi-hand-index-thumb"></i> <a href="/crisis-care">Crisis Care</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            {% for message in messages  %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endfor %}
            <h4>Join Our Newsletter</h4>
            <p>sign up to join many other people and never miss our Newsletters and other Publications</p>
            <form action="{% url 'newsletter-signup' %}" method="POST">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>smilecharityuganda</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Made & Designed by <a href="https://github.com/LadPaule">SCU Media</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% block extra_js %}
<script>
    document.getElementById("newsletter-signup-form").addEventListener("submit", (e) => {
        e.preventDefault();
        const email = e.target.elements[0].value;
        if (email && email.includes("@")) {
            fetch(e.target.action, {
                method: e.target.method,
                body: JSON.stringify({email: email})
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("All signed up! Thank you for joining the newsletter!")
                }
            })
            .catch(err => {
                alert("Looks like we're having an error. Please try again in a moment.")
            });
        }    
    });
</script>
{% endblock %}