{% load static %}
<!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@smilecharityuganda.org">info@smilecharityuganda.org</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+256 752 101 007</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <a href="/"><img src="{%static 'brand/sculogo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li class="dropdown"><a href="/discipleship"><span>Discipleship</span></i></a>
            <ul class="drop">
              <li><a href="#">CBC</a></li>
              <li><a href="#">YDF</a></li>
              <li><a href="#">PDF & PWDF</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/education"><span>Education Support</span></i></a>
            <ul class="drop">
              <li><a href="#">Child Sponsorship</a></li>
              <li><a href="#">Profession Twinning</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </li>
          <li><a href="/skilling">Skilling</a></li>
          <li><a href="/crisis-care">Crisis Care</a></li>
          <li><a href="#">Participate</a></li>
          <li><a href="/contact">Contact</a></li>
          <li ><a href="https://www.stewardship.org.uk/partners/20217424" target="blank">Donate</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->