{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/moderna.css' %}">
{% endblock extra_css %}

{% block content %}
  <main id="main">
      <section id="team" class="team section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>{{self.page_title}}</h2>
            <p>{{ self.introduction|richtext }}</p>
          </div>
        </div>
        <!--Children are rendered here-->
        <div class="row">
          {% for sponsored_page in sponsored_pages %}
            {% image sponsored_page.child_photo original as child %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div style="padding-bottom: 5px;"class="member" data-aos="fade-up">
                <div class="member-img">
                  <img src="{{child.url}}" class="img-fluid" alt="">
                  <div class="social">
                    <span>D.O.B: {{ sponsored_page.child_DOB }}</span>
                  </div>
                </div>
                <div class="member-info">
                  <h4><a style="color: black; font-wight: bold;" href="{% pageurl sponsored_page %}">{{ sponsored_page.child_name }}</a></h4>
                  <span>{{ sponsored_page.child_story|richtext|truncatewords:5 }}</span>
                </div>
                <button type="button" class="btn btn-primary"><a style="color: #fff;" href="{% pageurl sponsored_page %}"> see more</a></button>
              </div>
            </div>
          {% endfor %}
        </div>
      
      {% if sponsored_pages.paginator.num_pages > 1 %}
        <div class="sponsor_pagination">
          <div class="row">
            <div class="col-lg-12">
              <ul>
              {% if sponsored_pages.has_previous %}
                <li class="page-item">
                  <a href="?page={{ sponsored_pages.previous_page_number }}" class="page-link">
                    <span>&laquo;</span>
                  </a>
                </li>  
              {% endif %}
              {% for page_num in sponsored_pages.paginator.page_range %}
                <li class="page-item {% if page_num == sponsored_pages.number %} active{% endif %}">
                  <a href="?page={{ page_num }}" class="page-link">
                    {{ page_num }}
                  </a>
                </li>
              {% endfor %}
              {% if sponsored_pages.has_next %}
                <li class="page-item">
                  <a href="?page={{ sponsored_pages.next_page_number }}" class="page-link">
                    <span>&raquo;</span>
                  </a>
                </li>
              {% endif %}
              </ul>
            <div>
          </div>
        </div>
      {% endif %}
      </section><!-- End sponsor Section -->
</main>

    {% block extra_js %}

    {% endblock extra_js %}

{% endblock content %}

 