{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    
    <div class="container" data-aos="fade-up">
     
      <div class="row">
        {% image self.featured_image original as image %}
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{{ image.url }}" style="border-radius: 10px;" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3 style="align: center; text-align: center; color: blue; font-family: "Lucida Console", "Courier New", monospace;">About {{ self.title }}</h3> <hr />
          {{self.introduction|richtext}}
          <div class="social_links col-lg-6">
            <a href="{{self.facebook}}" target="blank"><i class="bi bi-facebook"></i></a>
            <a href="mailto:{{self.mail}}" target="blank"><i class="bi bi-envelope-plus-fill"></i></a>
            <a href="{{self.linkedIn}}" target="blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


</main>



  {% block extra_js %}
    
  {% endblock extra_js %}

{% endblock content %}
